<h1> <%=@blogger.name %> </h1>

<h3> Age: <%= @blogger.age%> </h3>
<p> Bio: <%= @blogger.bio%> </p>

<p>Total Likes: <%= @blogger.total_likes %></p>

<p>Most Liked Post: <%= link_to @blogger.most_liked.title, post_path(@blogger) %></p> 