<h1> <%= @post.title%> </h1>
<p> <%= @post.content%> </p>

Author: <%= link_to @post.blogger.name, blogger_path(@post.blogger)%>

<p> Destination:<%= link_to @post.destination.name, destination_path(@post.destination)%> </p>



 <%= button_to "Like",  post_path(@post), method: :patch%>

<p><%= @post.likes %></p>